SRVC_USR_PORT=4101

SRVC_ORD_PORT=4102

SRVC_PROD_PORT=4103

GATEWAY_PORT=4100

USER_PGHOST='db_user'
USER_PGUSER='postgres'
USER_PGPASSWORD='postgres'
USER_PGDATABASE='user_db'
USER_PGPORT=5441

ORDER_PGHOST='db_order'
ORDER_PGUSER='postgres'
ORDER_PGPASSWORD='postgres'
ORDER_PGDATABASE='order_db'
ORDER_PGPORT=5442

PRODUCT_PGHOST='db_product'
PRODUCT_PGUSER='postgres'
PRODUCT_PGPASSWORD='postgres'
PRODUCT_PGDATABASE='product_db'
PRODUCT_PGPORT=5443

